<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MageS_Stockists"
             title="Stockists"
             module="MageS_Stockists"
             sortOrder="9999"
             resource="MageS_Stockists::stores_manage"
             parent="Magento_Backend::content"
        />
        <add id="MageS_Stockists::stores_manage"
             title="Stores"
             module="MageS_Stockists"
             sortOrder="10"
             resource="MageS_Stockists::stores_manage"
             parent="MageS_Stockists"
             action="stockists/stores"
            />
    </menu>
</config>
